<section class="section summary-section">

    
    
   <h2 class="section-title"><i class="fa fa-archive"></i>AWARDS</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> National Mathematical Modeling Contest</h3>
                          <div class="company">National Second Prize</div>
                            <div class="time">2015</div>
                            </div><!--//upper-row-->
                      
                      <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"> National Mathematical Modeling Contest</h3>
                      <div class="company">Province First Prize</div>
                            <div class="time">2014</div>
                            </div><!--//upper-row-->
                      
                       <div class="item">
                         <div class="meta">
                           <div class="upper-row">
                            <h3 class="job-title"> National Mathematical Modeling Contest</h3>
                             <div class="company">Province Second Prize</div>
                             <div class="time">2013</div>
                           </div><!--//upper-row-->
                           
                         <!--  <div class="company">Main tasks:</div>
                           <div class="details">
                        <p>Work as a programmer (Matlab, Lingo) in our 3-member team</p>  
                        <p>Being a team leader to plan the process of the competition and control the time</p>
                        <p>Communicate with team members and figure out mathematical models</p>
                    </div><!--//details-->
                <!--</div><!--//item--> 
                         
                         <div class="item">
                           <div class="meta">
                             <div class="upper-row">
                               <h3 class="job-title">Graduates from double degree in business management</h3>
                                 <div class="company">      </div>
                               <div class="time">2015</div>
                             </div><!--//upper-row-->
                           </div><!--//details-->
                         </div><!--//item--> 
                         
                         <div class="item">
                           <div class="meta">
                             <div class="upper-row">
                                 
                            <h3 class="job-title">First-class scholarship</h3>
                                 <div class="company">      </div>
  
                          <div class="time">2015</div>
                      </div><!--//upper-row-->
                 </div><!--//details-->
                         </div><!--//item--> 
                         
               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                                                     
                            <h3 class="job-title">Advanced Mathematics Competition in Zhejiang Province</h3>
                          <div class="company">Province First Prize</div>
                          <div class="time">2014</div>
                      </div><!--//upper-row-->
                 </div><!--//details-->
                         </div><!--//item--> 
                      
               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Outstanding Student Leader</h3>
                          <div class="time">2013</div>
                      </div><!--//upper-row-->
                 </div><!--//details-->
                         </div><!--//item--> 
    
    
    
    
</section><!--//section-->



 
