 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Operational Research and Business Statistics</h4>
    <h5 class="meta">HongKong Baptist University</h5>
    <div class="time">September 2017 -June 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Mathematics and Applied Mathematics</h4>
    <h5 class="meta">Ningbo University</h5>
    <div class="time">September 2012 -June 2016</div>
</div><!--//item-->
</div><!--//education-container-->
