 <div class="education-container container-block">
<h2 class="container-block-title">Self-assessment</h2>
<div class="item">
    <h4 class="degree">1. I am a motivated and quick learner with solid base in mahtematics and IT</h4>
    <h4 class="degree">2. I am passionate about new technology and I am good at searching information</h4>
    <h4 class="degree">3. I used to be a teaching assistant for a professor to help him mark homework for undergraduate students.</h4>
</div><!--//item-->

</div><!--//education-container-->
