 <div class="education-container container-block">
<h2 class="container-block-title">Self-assessment</h2>
<div class="item">
    <h4 class="degree">1. I am a motivated quick learner, who has the solid mathematics and IT base knowledge</h4>
    <h4 class="degree">2. I am always passionate to new technologies and have a strong ability to search for useful information and learn it quickly</h4>
    <h4 class="degree">3. I am willing to help others and share, I used to be a professor's helper to do the advanced mathematics homework correcting  for his students</h4>
</div><!--//item-->

</div><!--//education-container-->
