<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-user"></i>RELEVANT COURSES</h2>
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">COUSERA</h3>
        <div class="company">Stanford University</div>
        <div class="time">Machine learning</div>
      </div><!--//upper-row-->
      
      <!--<div class="company">Algorithms:</div>-->
      <div class="details">
        <p>Linear Regession,Logistic Regression,SVM,Neural Nework</p>
      </div><!--//details-->
    </div><!--//item--> 
  
   <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">COURSERA</h3>
        <div class="company">Nanjing University</div>
        <div class="time">Python</div>
      </div><!--//upper-row-->
      
      <!--<div class="company">Algorithms:</div>-->
      <div class="details">
        <p>Linear Regession,Logistic Regression,SVM,Neural Nework</p>
      </div><!--//details-->
    </div><!--//item--> 
  
     
   <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">MOOC</h3>
        <div class="company">Nanjing University</div>
        <div class="time">Python</div>
      </div><!--//upper-row-->
      
      <!--<div class="company">Algorithms:</div>-->
      <div class="details">
        <p>PCA,Decision tree,random forest,GBDT,Xgboost</p>
      </div><!--//details-->
    </div><!--//item-->  
     
     
    
  

                         
