<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Second Prize of National Mathematical Modeling Contest in China</h3>
                            <div class="time">2015</div>
                            </div><!--//upper-row-->
                            <h3 class="job-title">First Prize of National Mathematical Modeling Contest in Zhejiang Province</h3>
                            <div class="time">2014</div>
                            </div><!--//upper-row-->
                            <h3 class="job-title">Second Prize of National Mathematical Modeling Contest in Zhejiang Province</h3>
                            <div class="time">2013</div>
                            </div><!--//upper-row-->
                        <div class="company">Main tasks:</div>
                   <!-- </div><!--//meta-->
                    <div class="details">
                        <p>Work as a programmer (Matlab, Lingo) in our 3-member team</p>  
                        <p>Being a team leader to plan the process of the competition and control the time</p>
                        <p>Communicate with team members and figure out mathematical models</p>
                      <!--<div class="company">Main achievement</div>-->
                    </div><!--//details-->
                </div><!--//item-->
                
 


<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">First-class scholarship</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <!--<div class="company">Amazon, London</div>-->
                    </div><!--//meta-->
                    <div class="details">
                        <!--<p>Describe your role here lorem ipsum dolor sit amet,am peium quis, sem.</p>-->  
                    </div><!--//details-->
                </div><!--//item-->



                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduates from double degree in business management</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <!--<div class="company">Amazon, London</div>-->
                    </div><!--//meta-->
                    <div class="details">
                        <!--<p>Describe your role here lorem ipsum dolor sit amet,am peium quis, sem.</p>-->  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">First Prize of Advanced Mathematics Competition in Zhejiang Province</h3>
                            <div class="time">2014</div>
                            </div><!--//upper-row-->
                        <!--<div class="company">Google, London</div>-->
                    </div><!--//meta-->
                    <div class="details">
                         <!--<p>Describe your role here lorem ipsum dolor</p>-->         
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Outstanding Student Leader</h3>
                            <div class="time">2013</div>
                            </div><!--//upper-row-->
                        <!--<div class="company">Google, London</div>-->
                    </div><!--//meta-->
                    <div class="details">
                         <!--<p>Describe your role here lorem ipsum dolor</p>-->         
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
