  <h2 class="section-title"><i class="fa fa-user"></i>INTERESTS</h2>
  
  <div class="item">
    <!--<div class="meta">
      <div class="upper-row">
        <h3 class="job-title">COUSERA</h3>
        <div class="company">Stanford University</div>
        <div class="time">Machine learning</div>
      </div><!--//upper-row-->
      
      <div class="details">
        <p>1. Writing Google blogs about theories of algorithms in machine learning in my spare time</p>
        <p>2. Taking mathematics (especially big data) related courses online</p>
        <p>3. Programming with different languages and try new IT skills </p>
      </div><!--//details-->
    </div><!--//item-->   


