  <h2 class="section-title"><i class="fa fa-user"></i>INTERESTS</h2>
  
  <div class="item">
    <!--<div class="meta">
      <div class="upper-row">
        <h3 class="job-title">COUSERA</h3>
        <div class="company">Stanford University</div>
        <div class="time">Machine learning</div>
      </div><!--//upper-row-->
      
      <div class="details">
        <p>1. Writing Google blogs about theories of algorithms in machine learning in my spare time</p>
        <p>2. Taking mathematics (especially big data) related courses online</p>
        <p>3. Programming with different languages and try new IT skills </p>
      </div><!--//details-->
    </div><!--//item-->   



                  <div class="item">
                    <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">DevStudio</a></span> - 
                    <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->
