<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>WORK EXPERIENCE</h2>
                <!--<div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
  
                         <div class="item">
                         <div class="meta">
                           <div class="upper-row">
                            <h3 class="job-title">Quantify silicon valley LLC</h3>
                             <div class="company">Ningbo  Intern</div>
                             <div class="time">March 2016—June 2016</div>
                           </div><!--//upper-row-->
                           
                           <div class="company">Main tasks:</div>
                           <div class="details">
                        <p>Collecting financial data with Wind Database</p>  
                        <p>Analyse financial data with Matlab and R</p>
                        <p>Participate in weekly meetings with other data scientists to discuss work at the next stage</p>
                    </div><!--//details-->
                </div><!--//item--> 
  
                          <div class="item">
                         <div class="meta">
                           <div class="upper-row">
                            <h3 class="job-title">LangJie Import and Export LLC</h3>
                             <div class="company">Ningbo  Intern</div>
                             <div class="time">February 2017—May 2017</div>
                           </div><!--//upper-row-->
                           
                           <div class="company">Main tasks:</div>
                           <div class="details">
                        <p>Work as a data analyst to analyse the data on online platforms (e.g. Amazon)</p>  
                        <p>Write data analysis report and explain the results to manager</p>
                        <p>Cooperate with website operators to analyse products</p>
                    </div><!--//details-->
                </div><!--//item--> 
                           
                           
                           
                           

